header {
  position: fixed;
  width: 150px;
  z-index: 10;
  height: 100%;
  background-color: salmon;
}
header a{
  color: #fff;
}
header .inner {
  width: 100%;
  height: 100%;
  padding-top: 44px;
}
header .inner h1 {
  /*! position: absolute; */
  /*! left: calc(50% - 100px); */
  /*! width: 200px; */
  /*! text-align: center; */
  order: 2;
}
header .inner .wgnb{
  order: 1;
}
header .inner .wgnb a.ham{
  font-size: 0;
  width: 30px;
  height: 30px;
  display: block;
  border-top: 3px solid;
  border-bottom: 3px solid;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
header .inner .wgnb a.ham::before{
  content: "";
  display: block;
  height: 3px;
  background-color: white;
  width: 100%;
}
header .inner h1 a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0;
  font-weight: 300;
}
header .inner h1 a img{
  display: block;
  transform: translateY(-12px);
  filter: brightness(100);
}
header .inner ul.gnb {
 align-self: first baseline; 
}
header .inner ul.gnb li {
  
}
header .inner ul.gnb li h2 {
  
}
header .inner ul.gnb li h2 a {
  
}
header .inner ul.gnb li ul.gnbsub {
  
}
header .inner ul.gnb li ul.gnbsub li {
  
}
header .inner ul.gnb li ul.gnbsub li a {
  
}
header .inner ul.enb {
  /* gap: 20px; */
  order: 3;
  transform: translateY(-50px);
}
header .inner ul.enb li {
  
}
header .inner ul.enb li a {
  display: block;
  color: black;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 5px;
}